:host {
  --gray-900: oklch(19.37% 0.006 300.98);
  --gray-700: oklch(36.98% 0.014 302.71);
}

h1 {
  font-size: 3.125rem;
  color: var(--gray-900);
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
}

p {
  margin: 0;
  color: var(--gray-700);
}

main {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
  box-sizing: inherit;
  position: relative;
  margin-left: 10%;
}

.lang-switcher{
  margin-bottom: 1rem;
  display: flex;
  gap: 0.5rem;
}

.content {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 3rem;
}

.content.content-vertical {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  max-width: 1200px;
  margin: 0 0 3rem 0;
  gap: 1.5rem;
}

.content h1 {
  margin-top: 1.75rem;
}

.content p {
  margin-top: 1.5rem;
}
