<form [formGroup]="filterForm" (ngSubmit)="onSearch()" class="filter-grid">
  <div class="field">
    <label for="title">{{'title' | translate}} :</label>
    <input id="title" formControlName="title" type="text" />
  </div>

  <div class="field">
    <label for="description">{{'description' | translate}}  :</label>
    <input id="description" formControlName="description" type="text" />
  </div>

  <div class="field">
    <label for="severity">{{'severity' | translate}}  :</label>
    <select id="severity" formControlName="severity">
      <option value="">--</option>
      <option value="LOW">Low</option>
      <option value="MEDIUM">Medium</option>
      <option value="HIGH">High</option>
    </select>
  </div>

  <div class="field">
    <label for="owner">{{'owner' | translate}}  :</label>
    <input id="owner" formControlName="owner" type="text" />
  </div>

  <div class="actions">
    <button type="submit">{{'search' | translate}} </button>
  </div>
</form>
